.nav{
    border-bottom:1px solid rgba(128, 126, 126, 0.274);
}
.pborder{
    border-right:1px solid rgba(128, 126, 126, 0.274) ;
    margin-right: 2px;
}
.nameBorder{
    border-right:1px solid rgba(128, 126, 126, 0.274);
    padding-right:7px;

}
